/* General styling for the page */
.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ffe0c3, #ffc1a1);
  background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

/* Register Container */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85); /* Transparent background for form */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h2.register-title {
  margin-bottom: 20px;
  color: #3c4e69;
  text-align: center;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #ff8c42;
  outline: none;
}

.password-field {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
}

.password-field input {
  flex: 1;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #3c4e69;
  padding-bottom: 10px;
}

.eye-icon:hover {
  color: #ff8c42;
}

select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 16px;
}

button {
  padding: 12px;
  background-color: #3c4e69;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: black;
}

/* Links Styling */
.login-link {
  text-align: center;
  margin-top: 15px;
}

.login-link a {
  color: #3c4e69;
  text-decoration: none;
}

.login-link a:hover {
  color: blue;
}

/* Error Message Styling */
.error-message {
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* Dark and light mode styles */
body.dark-mode {
  background-color: #121212;
  color: #fff;
}

body.light-mode {
  background-color: #ececec;
  color: #000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .register-container {
    padding: 1rem;
  }

  form {
    width: 100%; /* Make form take full width on small screens */
  }

  .register-button {
    padding: 10px;
    font-size: 14px;
  }
}

.register-select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 16px;
  width: 100%;
}

.success-message {
  color: green;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

